name: Deploy Flutter Web to Firebase

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download Flutter SDK manually
        run: |
          git clone https://github.com/flutter/flutter.git --branch master --depth 1
          echo "$GITHUB_WORKSPACE/flutter/bin" >> $GITHUB_PATH
          flutter --version

      - name: Verify Flutter version
        run: flutter --version

      - name: Install dependencies
        run: flutter pub get

      - name: Build Flutter Web with release and icon flags
        run: flutter build web --release --no-tree-shake-icons

      - name: Deploy to Firebase Hosting
        run: firebase deploy --only hosting
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
